backend/data/*
data/*
!data/.gitkeep
.env
venv/
__pycache__/
*.pyc
.idea/
.vscode/
.DS_Store
Thumbs.db
test.py
logs/
backend/.env
*/.env
burndownchart.ipynb
datasample.ipynb
*.csv
backend/static/avatars/*

test_api.http

other/final_merged_data.csv
backend/models/*.pkl